@model Shopping.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa</h2>

<h3>Bạn có chắc chắn muốn xóa điều này?</h3>
<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            Tên chất liệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material1.Name)
        </dd>

        <dt>
            Tên kích cỡ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size.NameSize)
        </dd>

        <dt>
            Tên thể loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategory.NameCategory)
        </dd>

        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalQuantity)
        </dd>

        <dt>
            Người tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            Ngày cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            Đơn giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>


        <dt>
            Hình 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
